@define-color black #16161D;
@define-color red #C34043;
@define-color green #76946A;
@define-color yellow #C0A36E;
@define-color blue #7E9CD8;
@define-color magenta #957FB8;
@define-color cyan #6A9589;
@define-color white #C8C093;

@define-color accent #957FB8;
@define-color info #7E9CD8;
@define-color success #76946A;
@define-color warning #C0A36E;
@define-color error #C34043;

@define-color border-active #957FB8;
@define-color border-focused #957FB8;
@define-color border-inactive #363646;
@define-color border-urgent #C34043;

@define-color background #16161D;
@define-color background-layer0 #181820;
@define-color background-layer1 #1a1a22;
@define-color background-layer2 #1F1F28;

@define-color foreground #DCD7BA;
@define-color foreground-layer0 #C8C093;
@define-color foreground-layer1 #938AA9;
@define-color foreground-layer2 #727169;
