@import "themes/catppuccin-mocha.css";

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 12px;
}

window#waybar {
    background: @bg-main;
    transition-duration: 0.3s;
    border-bottom: 2px solid @border;
    border-right: 2px solid @border;
    border-left: 2px solid @border;
}

#custom-fhuaquisto {
    font-size: 16px;
    color: @accent-primary;
}

#custom-separator {
    font-weight: bold;
    font-size: 16px;
    color: @accent-primary;
}

#workspaces {
    font-weight: bold;
    color: @fg-main;
}

#workspaces button {
    padding: 0 12px;
    border: none;
    color: @fg-main;
    transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
    opacity: 0.4;
}

#workspaces button.focused {
    background: @accent-primary;
    color: @bg-main;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: @accent-primary;
    color: @bg-main;
    transition: all 0.3s ease-in-out;
}


#workspaces button.urgent {
    background: @state-error;
    color: @bg-main;
}

#workspaces button:hover {
    background: @accent-primary;
    color: @bg-main;
    border: none;
}

#window {
    font-weight: bold;
    color: @fg-main;
    padding: 0 4px 0 4px;
}

#clock {
    font-weight: bold;
    color: @fg-main;
}

#wireplumber {
    font-weight: bold;
    color: @fg-main;
}

#battery {
    font-weight: bold;
    color: @fg-main;
}

#backlight {
    font-weight: bold;
    color: @fg-main;
}

#backlight.warning {
    color: @state-warning;
}

#backlight.critical {
    color: @state-error;
}